<div class="master-container">
  <div class="section-master-container">
    <button class="menu-opener" mat-mini-fab color="warn" (click)="openMenu();" >
      <mat-icon>menu</mat-icon>
    </button>


    <!-- mat-mini-fab color="warn" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" -->

    <!-- <mat-menu #menu="matMenu"> -->
      <!-- <button mat-menu-item>O mnie</button>
      <button mat-menu-item>Ślub i wesele</button>
      <button mat-menu-item>Sesja narzeczeńska</button>
      <button mat-menu-item>Chrzest</button>
      <button mat-menu-item>Strefa klienta</button>
      <button mat-menu-item>Kontakt</button> -->
    <!-- </mat-menu> -->
    <app-welcome-page [configuration]="configuration"></app-welcome-page>


  </div>
  <div class="section-master-container">
    <img
      src="https://images.unsplash.com/photo-1495954147468-729898cbe8aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlnfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
  </div>
  <p>Just a paragraph</p>
</div>
