.master-container {
  height: 1000%;
  width: 100%;
  border: 3px solid red;
}

.section-master-container {
  height: 100%;
  width: 100%;
  border: 3px solid green;
  position: relative;
}
img {
  height: 100%;
  width: 100%;
  position: relative;
}


.top-right-btn {
  position: absolute !important;
  top: 5%;
  right: 10%;
}
