.master-container {
  height: 1000%;
  width: 100%;
  border: 3px solid red;
}

.section-master-container {
  height: 100%;
  width: 100%;
  border: 3px solid green;
}
img {
  height: 100%;
  width: 100%;
}

.top-right-btn {
  position: absolute;
  top: 5%;
  right: 10%;
}
